/**
 * Grid system with 12 columns and without gutter.
 */
.gee-row {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.gee-row .opera-only :-o-prefocus,
.gee-row {
  word-spacing: -0.43em;
}
[class*="gee-col"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.gee-col-12 {
  width: 100%;
}
.gee-col-11 {
  width: 91.66666666666666%;
}
.gee-col-10 {
  width: 83.33333333333334%;
}
.gee-col-9 {
  width: 75%;
}
.gee-col-8 {
  width: 66.66666666666666%;
}
.gee-col-7 {
  width: 58.333333333333336%;
}
.gee-col-6 {
  width: 50%;
}
.gee-col-5 {
  width: 41.66666666666667%;
}
.gee-col-4 {
  width: 33.33333333333333%;
}
.gee-col-3 {
  width: 25%;
}
.gee-col-2 {
  width: 16.666666666666664%;
}
.gee-col-1 {
  width: 8.333333333333332%;
}
/**
 * Grid system with 12 columns and a 2% gutter.
 */
.gee-gutter-row {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.gee-gutter-row .opera-only :-o-prefocus,
.gee-gutter-row {
  word-spacing: -0.43em;
}
[class*="gee-gutter-col"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  margin-left: 2%;
}
[class*="gee-gutter-col"]:first-child {
  margin-left: 0;
}
.gee-gutter-col-12 {
  width: 100%;
}
.gee-gutter-col-11 {
  width: 91.5%;
}
.gee-gutter-col-10 {
  width: 83%;
}
.gee-gutter-col-9 {
  width: 74.5%;
}
.gee-gutter-col-8 {
  width: 66%;
}
.gee-gutter-col-7 {
  width: 57.5%;
}
.gee-gutter-col-6 {
  width: 49%;
}
.gee-gutter-col-5 {
  width: 40.5%;
}
.gee-gutter-col-4 {
  width: 32%;
}
.gee-gutter-col-3 {
  width: 23.5%;
}
.gee-gutter-col-2 {
  width: 15%;
}
.gee-gutter-col-1 {
  width: 6.5%;
}
/**
 * Responsive grid extension (use .gee-responsive-row instead of .gee-row).
 * Columns collapse to full width on screen widths lower than 767px.
 */
.gee-responsive-row {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.gee-responsive-row .opera-only :-o-prefocus,
.gee-responsive-row {
  word-spacing: -0.43em;
}
.gee-responsive-row img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .gee-responsive-row > [class*="gee-col"] {
    width: 100%;
  }
}
