/**
 * Grid system with 12 columns and without gutter.
 */
.gee-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.gee-grid .opera-only :-o-prefocus,
.gee-grid {
  word-spacing: -0.43em;
}
[class*="gee-unit"] {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.gee-unit-12 {
  width: 100%;
}
.gee-unit-11 {
  width: 91.66666667%;
}
.gee-unit-10 {
  width: 83.33333333%;
}
.gee-unit-9 {
  width: 75%;
}
.gee-unit-8 {
  width: 66.66666667%;
}
.gee-unit-7 {
  width: 58.33333333%;
}
.gee-unit-6 {
  width: 50%;
}
.gee-unit-5 {
  width: 41.66666667%;
}
.gee-unit-4 {
  width: 33.33333333%;
}
.gee-unit-3 {
  width: 25%;
}
.gee-unit-2 {
  width: 16.66666667%;
}
.gee-unit-1 {
  width: 8.33333333%;
}
/**
 * Grid system with 12 columns and a 2% gutter.
 */
.gee-gutter-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  width: 102%;
  margin-left: -2%;
}
.gee-gutter-grid .opera-only :-o-prefocus,
.gee-gutter-grid {
  word-spacing: -0.43em;
}
[class*="gee-gutter-unit"] {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  margin-left: 2%;
}
.gee-gutter-unit-12 {
  width: 98%;
}
.gee-gutter-unit-11 {
  width: 89.66666667%;
}
.gee-gutter-unit-10 {
  width: 81.33333333%;
}
.gee-gutter-unit-9 {
  width: 73%;
}
.gee-gutter-unit-8 {
  width: 64.66666667%;
}
.gee-gutter-unit-7 {
  width: 56.33333333%;
}
.gee-gutter-unit-6 {
  width: 48%;
}
.gee-gutter-unit-5 {
  width: 39.66666667%;
}
.gee-gutter-unit-4 {
  width: 31.33333333%;
}
.gee-gutter-unit-3 {
  width: 23%;
}
.gee-gutter-unit-2 {
  width: 14.66666667%;
}
.gee-gutter-unit-1 {
  width: 6.33333333%;
}
/**
 * Responsive grid extension (use .gee-responsive-grid instead of .gee-grid).
 * Units collapse to full width on screen widths lower than 767px.
 */
.gee-responsive-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.gee-responsive-grid .opera-only :-o-prefocus,
.gee-responsive-grid {
  word-spacing: -0.43em;
}
.gee-responsive-grid .opera-only :-o-prefocus,
.gee-responsive-grid {
  word-spacing: -0.43em;
}
.gee-responsive-grid img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .gee-responsive-grid > [class*="gee-unit"] {
    width: 100%;
  }
}
